html{
 font-size: 20px;
 font-family: 'Noto Sans JP', sans-serif;
 background-color: rgb(0, 119, 255);
 border: 5px solid black;   
}
body{
    background-color: lightgray;
    padding: 10px;
    border: 5px solid black;
    margin: 15px  rgb(0, 119, 255);
}
table{
    padding: 20px;
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 25px;
}
td{
    padding: 30px 30px;
    border: solid black;
    text-align: center;
    margin: 5px;
    background-color: white;
    border-radius: 25px;
}
button{
    text-align: center;
    background-color:rgb(0, 119, 255);
    color: white;
    padding: 10px;
    border: black;

}
.blank{
    background-color: white;
}
header{
    padding: 5px;
    background-color: burlywood;
    border-radius: 25px;
    border: solid black 3px;
    align-items: center;
}
h1{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
    border: solid black 3px;
    text-align: center;
}
footer{
    padding: 5px;
    background-color: burlywood;
    border-radius: 25px;
    border: solid black 3px;
    align-items: center;
}
h4{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
    border: solid black 3px;
}
.region{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    border: solid black 3px;
    text-align: center;
}
